@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #202547;
}
::-webkit-scrollbar-thumb{
    background: #fff;
}
.btn-small-standart {
    background: #7214ff;
    border-radius: 36px;
    padding: 15px 25px;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: 0.4s ease-in-out;
    &:hover {
        background: linear-gradient(
            261.47deg,
            rgba(21, 25, 52, 0.52) 14.6%,
            rgba(21, 25, 52, 0.08) 49.66%,
            rgba(21, 25, 52, 0.49) 87.77%
        );
        border: 1px solid #282d45;
    }
    &:active{
        transform: scale(.9);
    }
}
.link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(143, 155, 183, 1);
    transition: 0.4s ease-in-out;
    &:visited {
        color: rgba(143, 155, 183, 1);
    }
    &:hover {
        color: white;
    }
}
body {
    background-color: #0e1330;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    // .header__container
    border-bottom: 1px solid #151934;
    &__container {
        align-items: center;
        height: 96px;
        display: flex;
        justify-content: space-between;
        max-width: 1224px;
        margin: 0 auto;
    }

    // .header__logo

    &__logo {
        cursor: pointer;
    }

    // .header__btn-container

    &__btn-container {
        cursor: pointer;
    }

    // .header__btn

    &__btn {
        cursor: pointer;
    }
}
.burger-menu {
    display: none;
}

.right-menu {
    right: 10px;
}
.right-btn {
    right: 10px;
}
.burger-menu {
    display: none;
}
// !!!!!!!header sec end!!!!!!!!!!!!
.container-blur {
    z-index: -1000000;
    top: 96px;
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 3000px) {
    .blur {
        background-size: contain;
        width: 100%;
        height: auto;
    }
}
.dashboard {
    margin: 0 auto;
    display: flex;
    margin-bottom: 70px;
    margin-top: 70px;
    max-width: 1145px;
    flex-direction: column;
    // .dashboard__header

    &__header {
        &:last-child {
            margin-bottom: 0;
        }
    }

    // .dashboard__title

    &__title {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 62px;
        line-height: 80px;
        /* identical to box height, or 112% */
        letter-spacing: -0.03em;
        background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    // .dashboard__subtitle
    &__subtitle {
        margin: 0 auto;
        max-width: 799px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */

        text-align: center;

        /* Neutral/gray 300 */

        color: #8f9bb7;
        margin-bottom: 30px;
    }
    // .dashboard__buttons

    &__buttons {
        margin: 0 auto;
        gap: 30px;
        display: flex;
        margin-bottom: 50px;
    }

    // .dashboard__btn

    &__btn {
    }

    // .dashboard__btn2

    &__btn2 {
        background-color: transparent;
        border: 1.2px solid #282d45;
    }

    // .dashboard__example

    &__example {
        max-width: 100%;
        background-size: cover;
        margin: 0 auto;
    }
}
.image {
    background-size: cover;
    user-select: none;
}

///!!!!powerful-features!!!////

.powerful-features {
    // .powerful-features__text
    max-width: 1224px;

    margin: 70px auto;
    &__text {
        display: flex;
        justify-content: space-between;
        max-width: 1225px;
        align-items: center;
        margin-bottom: 60px;
    }

    // .powerful-features__title

    &__title {
        max-width: 720px;
        font-style: normal;
        font-weight: 700;
        font-size: 51px;
        line-height: 64px;
        background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        min-height: 132px;
    }
    // .powerful-features__subtitle

    &__subtitle {
        max-width: 392px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        /* Neutral/gray 300 */

        color: #8f9bb7;
    }
}
.powerful-grid {
    // .powerful-grid__card
    display: grid;
    max-width: 1224px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    cursor: pointer;
    transition: 0.5s;
    &__card {
        transition: .3s;
        &:hover {
            transform: scale(.9);
            background: #202547;
        }
        &:active{
            transform: scale(1);
        }
        flex-direction: column;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        max-width: 393px;
        background: #151934;
        /* Neutral/gray 500 */

        border: 1px solid #282d45;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    &__logo {
        margin-bottom: 30px;
        width: 53px;
        height: 45px;
    }

    // .powerful-grid__text

    &__text {
        max-width: 323px;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        letter-spacing: -0.03em;

        /* Neutral/white 200 */

        color: #f6f6f7;
        margin-bottom: 12px;
    }
    &__subtitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        /* Neutral/gray 300 */

        color: #8f9bb7;
    }
}

//essential-apps!!!!!!//

.essential-apps {
    margin: 70px auto;
    margin-bottom: 0;
    max-width: 1224px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.essential-apps {
    // .essential-apps__text

    &__text {
        max-width: 901px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    // .essential-apps__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        /* identical to box height, or 114% */

        text-align: center;
        letter-spacing: -0.03em;

        /* Linear gradient */

        background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        height: 70px;
        margin-bottom: 20px;
    }

    // .essential-apps__elements
    &__elements {
        max-width: 901px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        margin: 0 auto;
    }
    &__names {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        /* identical to box height, or 117% */

        text-align: center;
        letter-spacing: -0.03em;

        /* Linear gradient */

        background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    &__logo {
        margin-right: 12px;
    }
}
.essential-apps {
    // .essential-apps__grid
    &__buttons {
        display: flex;
        margin: 0 auto;
        gap: 30px;
        margin-top: 60px;
    }
    &__grid {
        max-width: 1224px;
        display: grid;
        grid-gap: 40px;
        grid-template-areas:
            "A A A A A A A"
            "B B B C C C C";
    }
    &__blur {
        width: 211px;
        height: 263px;
        background: #53c7ee;
        filter: blur(250px);
        position: absolute;
        top: 0;
        right: 0;
    }
    &__right-part {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 34px;
        max-width: 619px;
        background: #0e1330;
    }
    // .essential-apps__end

    &__end {
        min-height: 512px;
        grid-area: A;
        max-width: 1224px;
        display: flex;
        gap: 28px;
        background: #0e1330;
        /* Neutral/gray 500 */

        border: 1px solid #282d45;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    // .essential-apps__mobile

    &__mobile {
        background: #0e1330;
        /* Neutral/gray 500 */

        border: 1px solid #282d45;
        border-radius: 10px;
        grid-area: B;
        max-width: 496px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    // .essential-apps__upload

    &__upload {
        grid-area: C;
        max-width: 710px;
        width: 100%;
        background: #0e1330;
        /* Neutral/gray 500 */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        border: 1px solid #282d45;
        border-radius: 10px;
    }
    &__left-part {
        display: flex;
        align-items: center;
    }
}
.left-part {
    // .left-part__subtitle
    &__all {
        margin-right: 42px;
        margin-left: 70px;
        max-width: 465px;
    }
    &__title {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */

        letter-spacing: -0.03em;

        /* Neutral/white 200 */

        color: #f6f6f7;
    }
    &__subtitle {
        margin-bottom: 35px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        /* Neutral/gray 300 */

        color: #8f9bb7;
    }
    &__learn-btn {
        margin: 0;
    }
}
.upload__image-block {
    max-width: 580px;
    max-height: 393px;
}
.essential-apps__image {
    margin-right: 70px;
}

.mobile {
    // .mobile__title
    &__photo {
        margin-top: 50px;
        margin-bottom: 38px;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        letter-spacing: -0.03em;

        /* Neutral/white 200 */
        max-width: 386px;
        color: #f6f6f7;
        margin-bottom: 15px;
    }

    // .mobile__subtitle

    &__subtitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        max-width: 386px;
        /* Neutral/gray 300 */
        margin-bottom: 50px;
        color: #8f9bb7;
    }
}

.upload {
    // .upload__text

    &__text {
        max-width: 578px;
        height: 103px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 15px;
        margin-bottom: 35px;
    }

    // .upload__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        letter-spacing: -0.03em;

        /* Neutral/white 200 */

        color: #f6f6f7;
    }

    // .upload__subtitle

    &__subtitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        /* Neutral/gray 300 */

        color: #8f9bb7;
    }
}

///audited section
///
///
///
///
///

.margin {
    margin-right: 83px;
}

.audited {
    // .audited_content
    margin-top: 70px;
    max-width: 1224px;
    min-height: 1043px;
    &__content-grid {
        background: #0e1330;
        /* Neutral/gray 500 */
        border: 1px solid #282d45;
        border-radius: 10px;
        max-width: 1224px;
        min-height: 903px;
        padding: 50px 50px 54px 54px;
        box-sizing: border-box;
        display: grid;
        grid-gap: 26px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    // .audited_title

    &__text {
        max-width: 454px;
        min-height: 400px;
    }
    &__title {
        max-width: 545px;
        margin: 0;
        margin-top: 69.5px;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        /* or 117% */

        letter-spacing: -0.03em;

        /* Linear gradient */

        background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    &__subtitle {
        max-width: 545px;
        margin: 0;
        margin-bottom: 40px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        /* Neutral/gray 300 */

        color: #8f9bb7;
    }
    // .audited_code
    &__code {
        position: relative;
        justify-self: flex-end;
        max-width: 527px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__box {
        max-width: 444px;
        min-height: 180px;
        border: 1px solid #233256;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
    }
    &__inside {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f6f6f7;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        max-width: 413px;
        left: 601px;
        top: 13px;
        background: #060b27;
        border-radius: 10px;
    }
    // .audited_ProductMail

    &__Product {
        border-radius: 10px;
        border: 1px solid #282d45;
        box-sizing: border-box;
        padding: 10px;
        padding-bottom: 0;
        max-width: 547px;
        min-height: 363px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #060b27;
    }

    // .audited_ProductUI
}
.pos2 {
    margin-left: auto;
}
.vector {
    &__left {
        position: absolute;
        bottom: 77.5px;
        left: -0.51px;
    }
    &__right {
        position: absolute;
        right: -0.49px;
        top: 74px;
    }
}
.audited__inside-color {
    color: rgba(76, 135, 118, 1);
}
.Mail {
    width: 100%;
}
.color {
    // .color_Light-blue

    &_Light-blue {
        color: #9ae7f2;
    }

    // .color_orange

    &_orange {
        color: #f98e62;
    }

    // .color_blue

    &_blue {
        color: #4f86ef;
    }

    // .color_red

    &_red {
        color: #e9708b;
    }
}
.inside__text {
    color: #f6f6f7;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.Product__text {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
}
.Product__title {
    margin: 0;
    text-align: start;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 30px;
    /* identical to box height, or 133% */

    letter-spacing: -0.03em;

    /* Neutral/white 200 */

    color: #f6f6f7;
}
.Product__subtitle {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* Neutral/gray 300 */

    color: #8f9bb7;
    margin-bottom: 32px;
}
////////clients!!!!!!!!!
///
///
.clients {
    padding: 0;
    position: relative;
    margin: 0 auto;
    max-width: 1224px;
    width: 100%;
    min-height: 539px;
    // .clients__text
    &__text {
        margin: 0 auto;
        max-width: 636px;
        min-height: 136px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 60px;
    }

    // .clients__title

    &__title {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        /* identical to box height, or 114% */
        min-height: 70px;
        letter-spacing: -0.03em;
        text-align: center;
        /* Linear gradient */

        background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    // .clients__subtitle

    &__subtitle {
        margin: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;

        /* Neutral/gray 300 */

        color: #8f9bb7;
    }

    // .clients__reviews

    &__reviews {
        max-width: 1175px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        overflow: hidden;
    }
}
.clients__buttons {
    margin: 0 auto;
    width: 91px;
    height: 38px;
    display: flex;
    justify-content: space-between;
}

.cl__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;

    /* Neutral/gray 800 */

    background: #0e1330;
    /* Neutral/gray 500 */

    border: 1px solid #282d45;
    border-radius: 8px;
}

.people {
    // .people_reviews
    &__reviews {
        background: #0e1330;
        /* Neutral/gray 500 */

        border: 1px solid #282d45;
        border-radius: 10px;
        max-width: 343px;
        min-height: 235px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        box-sizing: border-box;
        padding: 0 25px 25px 25px;
    }
    &__header {
        margin-top: 25px;
        max-width: 293px;
        min-height: 40px;

        display: flex;
    }
    &__avatar {
        margin-right: 10px;
    }
    &__firstname {
        margin: 0;
        font-size: 16px;
        font-family: Inter;
        font-weight: 300;
        line-height: 16px;
        color: var(--neutral-white-200, #f6f6f7);
    }
    &__QuotationMarks {
    }
    &__name {
        margin-right: 26px;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }
    &__jobtitle {
        color: var(--neutral-gray-300, #8f9bb7);
        font-size: 12px;
        font-family: Inter;
        line-height: 12px;
        margin: 0;
    }
    &__desk {
        margin: 0;
        font-weight: 300;
        font-size: 16px;
        font-family: Inter;
        line-height: 24px;
        color: white;
        max-width: 293px;
        min-height: 120px;
    }
}

.backgrounds {
    // .backgrounds__blocks

    &__blocks {
        z-index: -10;
        max-width: 1224px;
        width: 100%;
        min-height: 110px;
        display: flex;
        gap: 23px;
        position: absolute;
        bottom: 83px;
    }
}

.block {
    background: #212a5c;
    border-radius: 10px;
    max-width: 392px;
    width: 100%;
    height: 110px;
}

//////////////////////////////
///
///
///
///
.discord {
    position: relative;
    max-width: 1224px;
    min-height: 450px;
    margin: 0 auto;
    margin-top: 70px;
    // .discord__background

    &__background {
        z-index: 1;
        position: relative;
        margin: 0 auto;
        max-width: 1016px;
        min-height: 450px;
        border-radius: 10px;
        border: 1px solid var(--neutral-gray-500, #282d45);
        background: #0e1330;
    }
    &__bgshape {
        position: absolute;
        background-image: cover;
        min-height: 100%;
        max-width: 100%;
        z-index: 1;
    }
    // .discord__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
        margin: 90px auto;
        max-width: 485px;
        min-height: 267px;
    }
    &__vector {
        top: 347px;
        position: absolute;
        z-index: 1;
        max-width: 996px;
    }
    &__logo {
        margin-bottom: 30px;
        position: relative;
    }
    &__title {
        text-align: center;
        /* Heading/H4 */
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1.2px;
        margin-bottom: 15px;
        color: white;
    }
    &__subtitle {
        color: #8f9bb7;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 30px;
        text-align: center;
    }
    &__btn {
        transition: 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
            background: linear-gradient(
                261.47deg,
                rgba(21, 25, 52, 0.52) 14.6%,
                rgba(21, 25, 52, 0.08) 49.66%,
                rgba(21, 25, 52, 0.49) 87.77%
            );
            border: 1px solid #282d45;
        }
        color: white;
        border-radius: 36px;
        border: none;
        background: #5865f2;
        display: flex;
        padding: 15px 25px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 141px;
        height: 46px;
    }
}
.product {
    margin: 0 auto;
    max-width: 1224px;
    min-height: 630px;
    margin-bottom: 70px;
    margin-top: 70px;
    // .product__header

    &__header {
        max-width: 100%;
        min-height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }

    // .product__title

    &__title {
        margin: 0;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -1.68px;
        background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f7), to(#7e808f));
        background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    // .product__btn

    &__btn {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        max-width: 170px;
        min-height: 46px;
    }

    // .product__flex

    &__flex {
        max-width: 1224px;
        min-height: 506px;
        display: flex;
        justify-content: space-between;
    }

    // .product__block

    &__block {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 25px;
        max-width: 392px;
        border-radius: 10px;
        border: 1px solid var(--neutral-gray-500, #282d45);
        background: var(--neutral-gray-800, #0e1330);
        min-height: 506px;
    }
    &__img {
        margin-bottom: 19px;
    }
}
.flex {
    &__title {
        color: var(--neutral-white-200, #f6f6f7);
        /* Heading/H6 */
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.72px;
        margin-bottom: 15px;
        min-height: 64px;
        max-width: 342px;
    }
    &__subtitle {
        color: var(--neutral-gray-300, #8f9bb7);
        /* Paragraph/SM */
        font-size: 14px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 19px;
        min-height: 64px;
        max-width: 342px;
    }
    &__line {
        max-width: 342px;
        height: 1px;
        background: #282d45;
        margin-bottom: 19px;
    }
    &__bottom {
        display: flex;
        max-width: 344px;
        min-height: 24px;
        justify-content: space-between;
        align-items: center;
    }
    &__date {
        color: var(--neutral-gray-300, #8f9bb7);
        /* Paragraph/SM */
        font-size: 14px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    &__more {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            transition: 0.2s;
        }
        align-items: center;
        max-width: 105px;
        min-height: 24px;
        display: flex;
    }
}
.more {
    &__title {
        margin: 0;
        color: var(--neutral-white, #fff);
        /* Button/RG */
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }
    &__vector {
        margin-top: 3px;
    }
}
.flex-cl{
    display: flex;
    justify-content: space-between;
    max-width: 674px;
    width: 100%;
}
.BGcolorshape{
    z-index: -1;
    width: 242px;
    height: 242px;
    position: absolute;
    border-radius: 242px;
    background: var(--primary-blue-violet, #7214FF);
    filter: blur(250px);
    left: 50%;
    transform: translateX(-50%);
}
.basement {
    max-width: 1224px;
    min-height: 439px;
    margin-bottom: 40px;
    &__content {
        min-height: 439px;
        max-width: 1224px;
    }
    &__logo {
        margin-bottom: 35px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #282D45;
        box-sizing: border-box;
        padding-bottom: 45px;
    }
    &__mail-list {
        margin-right: 20px;
    }
    &__title{
        color: var(--neutral-white-200, #F6F6F7);
        /* Heading/H6 */
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.72px;
        text-align: left;
        max-width: 333px;
        min-height: 32px;
        text-align: left;
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 19px;
    }
    &__input{
        margin: 0 auto;
        width: 333px;
        height: 44px;
        border-radius: 50px;
        border: 1px solid var(--neutral-gray-500, #282D45);
        background: var(--neutral-gray-800, #0E1330);
        margin-bottom: 15px;
        padding-left: 15px;
        padding-bottom: 5px;
        box-sizing: border-box;
        color: white;
    }
    &__btn{
        border-radius: 36px;
        background: var(--primary-blue-violet, #7214FF);
        max-width: 330px;
        margin: 0 auto;
        min-height: 46px;
        width: 100%;
        border: none;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        transition: .4s ease-in-out;
        &:hover{
            background: linear-gradient(
                261.47deg,
                rgba(21, 25, 52, 0.52) 14.6%,
                rgba(21, 25, 52, 0.08) 49.66%,
                rgba(21, 25, 52, 0.49) 87.77%
            );
            border: 1px solid #282d45;
        }
        &:active{
            transform: scale(.9);
        }
    }
    &__email {
        flex-direction: column;
        display: flex;
        max-width: 392px;
        min-height: 236px;
        padding: 40px 30px;
        border-radius: 10px;
        border: 1px solid var(--neutral-gray-500, #282d45);
        background: var(--neutral-gray-800, #0e1330);
    }
    &__bot{
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
    }
}
.list1{
    &-ul{
        gap:12px;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    &-item{
        cursor: pointer;
        transition: .3s;
        &:hover{
            color: white;
        }
        display: flex;
        color: var(--neutral-gray-300, #8F9BB7);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.6px;
        &-title{
            cursor: pointer;
            transition: .3s;
            &:hover{
                color: white;
            }
            color: var(--neutral-gray-300, #8F9BB7);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: -0.6px;
            margin-bottom: 11px;
        }
    }
}
.bot{
    display: flex;
    flex-direction: row;
    &__title{
        color: #8F9BB7;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    }
    &__socials{
        display: flex;
        gap: 15px;
    }
    &__items{
        cursor: pointer;
        width: 34px;
        height: 34px;
        border-radius: 8px;
        border: 1px solid var(--neutral-gray-500, #282D45);
        background: var(--neutral-black-1000, #060B27);
        &:hover{
            border: 1px solid var(--neutral-gray-500, #4c516b);
        }
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 3000px) {
    .blur {
        background-size: contain;
        width: 100%;
        height: auto;
    }
    .Product_img {
        height: auto;
        max-width: 100%;
    }
    .Product_img2 {
        width: 100%;
        height: 100%;
    }
    .flex_img {
        height: auto;
        max-width: 100%;
    }
}
@media screen and (max-width: 1224px) {
    .vector__right {
        display: none;
    }
    .vector__left {
        display: none;
    }
    .product__flex {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    .product__header {
        flex-direction: column;
        gap: 60px;
    }
}
@media screen and (max-width: 1076px) {
    .audited {
        // .audited_content
        &__content-grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            padding: 10px;
        }
        &__code {
            display: flex;
            margin: 0 auto;
            max-width: 800px;
            min-height: 400px;
            flex-direction: row;
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 800px;
            justify-content: center;
            margin: 0 auto;
        }
        &__Product {
            display: flex;
            margin: 0 auto;
        }
        &__title {
            max-width: 800px;
        }
        &__subtitle {
            max-width: 800px;
        }
        &__box {
            border: none;
        }
    }
    .discord__vector {
        display: none;
    }
    .margin {
        margin-right: 0;
    }
    .pos2 {
        margin-right: 15px;
    }
    .clients__reviews {
        flex-direction: column;
        max-width: 343px;
        margin: 0 auto;
        margin-bottom: 70px;
        gap: 24px;
    }
    .backgrounds__blocks {
        display: none;
    }
}
@media screen and (max-width: 940px) {
    .upload__image {
        width: 100%;
        height: 100%;
    }
    .clients {
        padding: 10px;
    }
    .essential-apps__elements {
        max-width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
    }
    .essential-apps__names {
    }
    .essential-apps__logo {
        margin: 0;
    }
    .essential-apps__grid {
        max-width: 1224px;
        display: grid;
        grid-gap: 40px;
        grid-template-areas:
            "A A A A A A A"
            "B B B C C C C";
    }
    .essential-apps__end {
    }
    .essential-apps__left-part {
        margin: 0;
    }
    .essential-apps__right-part {
        margin-right: 30px;
    }
    .essential-apps__image {
        max-width: 515px;
        max-height: 373px;
        width: 100%;
        height: auto;
    }
    .upload__text {
        text-align: center;
    }
    .essential-apps__upload {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .basement{
        &__top{
            align-items: center;
        display: flex;
       flex-direction: column;
        }
       &__email{
        margin-bottom: 50px;
       }
    }
}

@media screen and (max-width: 860px) {
    .nav {
        display: none;
    }
    .header__btn-container {
        display: none;
    }
    .burger-menu {
        &:hover {
            background-color: #41486b;
        }
        cursor: pointer;
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #282d45;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
    }
    .line {
        background-color: #0e1330;
        height: 4px;
        width: 30px;
        border-radius: 3px;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .powerful-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    .essential-apps__grid {
        grid-template-areas:
            "A"
            "B"
            "C";
    }
    .essential-apps__mobile {
        max-width: 621px;
    }
    .essential-apps__end {
        box-sizing: border-box;
        padding: 20px;
        align-items: center;
        flex-direction: column;
    }
    .essential-apps__image {
        margin: 0;
    }
    .essential-apps__upload {
        min-height: 500px;
        box-sizing: border-box;
        padding-top: 20px;
    }
    .upload__text {
        text-align: center;
    }
    .mobile__text {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .powerful-grid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .powerful-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text {
            flex-direction: column;
            align-items: center;
            display: flex;
        }
        &__title {
            text-align: center;
            margin-bottom: 20px;
        }
        &__subtitle {
        }
    }
    .product__title{
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    .essential-apps__elements {
        max-width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .audited {
        // .audited_content

        &__code {
            display: flex;
            margin: 0 auto;
            max-width: 800px;
            min-height: 400px;
            flex-direction: column;
        }
        &__Product {
            justify-content: flex-start;
        }
    }
    .basement{
        &__bot{
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: 400px) {
    .btn-small-standart {
        padding: 15px 25px;
        font-size: 13px;
    }
    .essential-apps__end {
        padding: 0;
    }
    .dashboard__title {
        font-size: 40px;
        line-height: 50px;
    }
    .essential-apps__names {
        font-size: 40px;
    }
    .people {
        &__quotationmarks {
            display: none;
        }
    }
}
.left{
    transition: 1s;
    position: absolute;
    left: -500px;
}
